<div class="card text-center">
  <div class="card-header">
    Test#
  </div>
  <div class="card-body">
    <p class="card-text">Question text</p>
    <a href="#" class="btn btn-primary">Help</a>
  </div>
  <div class="card-footer text-muted">
    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      <div class="input-group-prepend">
        <span class="btn btn-primary" id="inputGroup-sizing-sm">Enter your anwser</span>
      </div>
    </div>
  </div>
</div>


