<div class="modal" show style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Подсказка</h5>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>
